</section>
</div>
<div class="menu-bar">
  <button class="menu-bar-btn">
    <i class="fas fa-window-close"></i>
  </button>
  <nav class="menu-bar-nav">
    <ul>
      <li>
        <a href="/usuarios">Usuários RFID</a>
      </li>
      <li>
        <a href="/admins">Admins</a>
      </li>
      <li>
        <a href="/registros">Registros</a>
      </li>
      <li>
        <a href="/horarios">Horários de acesso</a>
      </li>
      <li>
        <a href="/visitantes">Visitantes</a>
      </li>
      <li>
        <a href="/abertura">Abertura Remota</a>
      </li>
    </ul>
  </nav>
</div>

<div class="menu-bar-desk">
  <nav>
    <ul>
      <li id="liUsuario">
        <div><i class="fas fa-users"></i>Usuários</div>
        <ul>
          <li><a href="/usuarios"><i class="fas fa-user-tag"></i>Usuários RFID</a></li>
          <li><a href="/admins"><i class="fas fa-user-shield"></i>Admins</a></li>
        </ul>
      </li>
      <li>
        <a href="/registros"><i class="fas fa-file-alt"></i>Registros</a>
      </li>
      <li>
        <a href="/horarios"><i class="far fa-clock"></i>Horários de acesso</a>
      </li>
      <li>
        <a href="/visitantes"><i class="fas fa-street-view"></i>Visitantes</a>
      </li>
      <li>
        <a href="/abertura"><i class="fas fa-door-open"></i>Abertura Remota</a>
      </li>
    </ul>
  </nav>
</div>
<script src="/assets/js/script.js"></script>
</body>
</html>