</section>
</div>
<div class="menu-bar">
  <button class="menu-bar-btn">
    <!-- <i class="fas fa-times"></i> -->
    <img src="/assets/img/close_white_24dp.svg" alt="">
  </button>
  <nav class="menu-bar-nav">
    <ul>
      <li>
        <a href="/abertura"><i class="fas fa-door-open"></i>Abertura Remota</a>
      </li>
      <li>
        <a href="/usuarios"><i class="fas fa-user-tag"></i>Usuários RFID</a>
      </li>
      <li>
        <a href="/admins"><i class="fas fa-user-shield"></i>Administradores</a>
      </li>
      <li>
        <a href="/registros"><i class="fas fa-file-alt"></i>Registros</a>
      </li>
      <li>
        <a href="/horarios"><i class="far fa-clock"></i>Horários de Acesso</a>
      </li>
      <li>
        <a href="/visitantes"><i class="fas fa-key"></i>Senha de Visitante</a>
      </li>
    </ul>
  </nav>
</div>

<div class="menu-bar-desk">
  <nav>
    <ul>
      <li>
        <a href="/abertura"><i class="fas fa-door-open"></i>Abertura Remota</a>
      </li>
      <li id="liUsuario">
        <div><i class="fas fa-users"></i>Usuários</div>
        <ul>
          <li><a href="/usuarios"><i class="fas fa-user-tag"></i>Usuários RFID</a></li>
          <li><a href="/admins"><i class="fas fa-user-shield"></i>Administradores</a></li>
        </ul>
      </li>
      <li>
        <a href="/registros"><i class="fas fa-file-alt"></i>Registros</a>
      </li>
      <li>
        <a href="/horarios"><i class="far fa-clock"></i>Horários de Acesso</a>
      </li>
      <li>
        <a href="/visitantes"><i class="fas fa-key"></i>Senha de Visitante</a>
      </li>
    </ul>
  </nav>
</div>
<div class="back-body"></div>
<script src="/assets/js/script.js"></script>
</body>
</html>