body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #FFFFFD;
}

.no-scroll{
  overflow: hidden;
}

.background{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background: black;
  opacity: .7;
  transition: .2s background ease;
}

*{
  -webkit-tap-highlight-color: transparent !important;
  outline: none !important;
}

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

i{
  display: block;
  cursor: pointer;
}

button{
  border: none;
  outline: none;
  background: none;
  /* padding: 10px; */
}

.header{
  width: 100%;
  box-sizing: border-box;
  background-color: #FFFFFD;
  color: #383838;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 5%);
  position: sticky;
  top: 0;
  z-index: 10;
}

/* .header.container{
  padding: 1rem 1.25rem;
} */

.header > *{
  color: #383838;
  text-decoration: none;
  padding: 0.875rem 1.25rem;
}

/* .header-btn i{
  font-size: 1.125rem;
} */

.header-linksair{
  font-size: 0.875rem;
  /* padding: 10px; */
}

.container{
  box-sizing: border-box;
  padding: 1.25rem;
}

.section{
  max-width: 750px;
  margin: 0 auto;
}

.section-1{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-1-titulo{
  font-size: 1.5rem;
  font-weight: normal;
}

.section-1-link button{
  border: none;
  outline: none;
  box-sizing: border-box;
  padding: 5px 10px;
  background-color: lightseagreen;
  color: white;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  font-size: 0.75rem;
  transition: .3s all ease-in-out;
}

.section-1-link button:hover{
  background-color: rgb(19, 104, 100);
}

.container-table{
  margin-top: 10px;
  max-height: 60vh;
  overflow: auto;
  border-radius: 5px;
}

.table{
  border-collapse: collapse;
  font-size: 0.875rem;
}

.table-head{
  display: none;
}

.table, .table tr, .table-body, .table-body td{
  display: block;
  width: 100%;
}

.table tr{
  padding: 10px;
  box-sizing: border-box;
  /* margin-bottom: 10px; */
}

.table tr+tr{
  margin-top: 10px;
}

.table-body td::before{
  content: attr(data-label);
  display: block;
  margin-right: 5%;
  font-weight: bold;
}

.table-body tr:nth-child(odd){
  background-color: #f2f9fd;
}

.table-body tr:nth-child(even){
  background-color: #e7f3f9;
}

.table-body a{
  color: #383838;
}

.table-body i{
  padding: 5px;
  font-size: 1.15em;
}

/* Menu-bar  */

.menu-bar{
  position: fixed;
  left: -200px; /*  */
  top: 0;
  background-color: #A01C73;
  opacity: 0.98;
  width: 200px;
  height: 100vh;
  transition: .2s left ease-in-out;
  z-index: 10;
  overflow: auto;
}

.menu-bar li a i{
  font-size: 0.875rem;
  margin-right: 10px;
  width: 20px;
  height: 18px;
  text-align: center;
}

.menu-bar.active{
  left: 0;
  z-index: 1000;
}

.menu-bar-btn{
  display: block;
  margin-left: auto;
  color: white;
  padding: 0.875rem;
}

.menu-bar-btn i{
  font-size: 20px;
  color: white;
}

.menu-bar-nav ul{
  margin-top: 20px;
}

.menu-bar-nav li a{
  text-decoration: none;
  color: white;
  font-size: 0.75rem;
  padding: 1rem;
  margin-bottom: 20px;
  display: block;
}

.menu-bar-desk{
  display: none;
}

/* Mensagens de alerta */

.alert{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.alert-danger{
  color: red;
}

.alert-success{
  color: green;
}

/* form-admin */

.h1-admin{
  font-size: 1.125rem;
}

.a-return button{
  background-color: red;
}

.section-1-link button, .a-return button{
  border-radius: 15px;
}

.a-return button:hover{
  background-color: rgb(204, 6, 6);
}

.form-admin{
  border: none;
  background-color: #f2f9fd;
  padding: 30px 20px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 20px;
}

.form-admin label, input{
  display: block;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  font-size: 0.875rem;
}

.form-admin input{
  box-sizing: border-box;
  margin: 5px 0px 20px 0px;
  padding: 10px;
  background-color: #E9F1FE;
  outline: none;
  border: none;
  border-radius: 8px;
}

.form-admin input::placeholder{
  font-style: italic;
  color: #7389AB;
}

.form-admin button{
  box-sizing: border-box;
  background-color: lightseagreen;
  display: block;
  width: 100%;
  padding: 15px 40px;
  margin: 30px 0px 0px;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: .3s background-color ease-in-out;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 0.875rem;
}

.form-admin button:hover{
  background-color: rgb(24, 131, 125);
}

/* Abertura Remota - button */
.abertura{
  flex-direction: column;
}

.div-btnAbertura{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}

.div-btnAbertura small{
  margin: 0 auto;
  margin-bottom: 2rem;
  text-align: center;
}

.div-btnAbertura--btn{
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 0;
  background-image: linear-gradient(45deg, lightseagreen, #A01C73);
  transition: .4s transform;
  position: relative;
  cursor: pointer;
}

.div-btnAbertura--btn:hover{
  transform: scale(1.1);
}

.div-btnAbertura--btn div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
}

.div-btnAbertura--btn div img{
  display: block;
  width: 70px;
}

/* select, input e containers */
.form-admin select{
  display: block;
  width: 100%;
  height: 41px;
  box-sizing: border-box;
  padding: 10px;
  background-color: #E9F1FE;
  outline: none;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

.form-admin input, .form-admin select{
  margin: 10px 0px;
}

.container-check{
  display: flex;
  align-items: center;
}

.container-check label, .container-check input{
  display: inline-block;
  width: inherit;
  margin: 5px 0px;
}

.container-check label{
  margin-left: 5px;
}

.form-admin div[class^="container"]+div[class^="container"]:not(.container-check){
  margin-top: 20px;
}

/* Visitante */

.visitante .div-btnAbertura--btn{
  background-image: linear-gradient(45deg, #383838, #A01C73);
  color: white;
  width: 100px;
  height: 100px;
  margin: 2rem auto;
  font-family: 'Poppins';
  user-select: none;
  -webkit-user-select: none;
}

.time-text{
  width: 250px;
  display: flex;
}

.time-text small{
  width: 50%;
  font-weight: bold;
  margin: 0;
}

.visitante-container{
  position: relative;
  width: 250px;
  height: 120px;
  margin: 0.75rem auto;
}

.slider{
  display: flex;
  align-items: center;
}

.status{
  text-align: center;
}

.slider, .status{
  height: inherit;
  width: inherit;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  position: absolute;
  left: 0;
  top: 0;
  transition: .5s all ease;
  opacity: 0;
  visibility: hidden;
}

.slider-min, .slider-sec{
  display: flex;
  align-items: center;
  height: inherit;
  width: 100%;
  position: relative;
}

.slider-min--up, .slider-min--down, .slider-sec--up, .slider-sec--down{
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 5;
  left: 50%;
  bottom: 0;
  margin: 1px;
  transform: translateX(-50%);
  color: black;
  background: none;
  cursor: pointer;
}

.slider-min--up, .slider-sec--up{
  top: 0;
}

.inner-slider{
  width: 100%;
  text-align: center;
  font-size: 2rem;
  transition: transform 0.2s linear 0s;
  color: #eee;
}

.inner-slider .active{
  transform: scale(1.5);
  transition: .5s transform linear;
  color: #383838;
}

#min, #sec, .inner-slider div{
  height: 48px;
}

/*  */

.status--senha{
  font-size: 3rem;
}

.status--tempo{
  font-size: 1.5rem;
  margin-top: 0.75rem;
}


/* #min{
  transform: translate3d(0px, 720px, 0px);
}

#sec{
  transform: translate3d(0px, 1416px, 0px);
} */

/* .visitante-div--time::-webkit-scrollbar {
  width: 8px;
}

.visitante-div--time::-webkit-scrollbar-track{
  background: #FFFFFD;
}

.visitante-div--time::-webkit-scrollbar-thumb {
  background-color: #A01C73;
}

#min{
  direction: rtl;
} */

/* #sec{
  transform: translateY(24px);
} */

/* Remover estilos nativos */

/* .container-dia select, .container-check input, .container-horario input{
  -webkit-appearance: none;
} */

/* ---------- Desktop ----------- */

@media screen and (min-width: 768px){
  .container{
    padding: 1.5rem;
  }

  .header{
    justify-content: flex-end;
    background-color: #383838;
    height: 48px;
  }

  .header > *{
    color: white;
    padding: 0.875rem 1.5rem;
  }

  /* .header-linksair{
    padding: 1.5rem;
  } */

  .m-desk{
    margin-left: 200px;
  }

  /* .header-btn i{
    visibility: hidden;
  } */
  .header-btn svg{
    visibility: hidden;
  }

  .section-1-titulo{
    font-size: 2.25rem;
  }

  .section-1-link button{
    padding: 5px 20px;
    font-size: 0.875rem;
  }

  .table{
    display: table;
    border-collapse: collapse;
    width: 100%;
    /* font-size: 1rem; */
  }

  .table-head{
    display: table-header-group;
    background-color: #383838;
    color: white;
    position: sticky;
    top: 0;
  }

  .table tr{
    padding: 0;
    display: table-row;
  }
  
  .table-head th{
    font-size: 1rem;
  }

  .table-head tr th:last-child{
    width: 20%;
  }

  .table-head th, .table-body td {
    display: table-cell;
    font-weight: 400;
    text-align: left;
    padding: 15px;
    box-sizing: border-box;
    width: 40%;
  }

  /* Largura somente para horários de acesso */
  .w-28 th, .w-28 td{
    width: 28%;
  }

  .table-head .registro, .table-body .registro{
    width: 25%;
  }

  .table-body{
    display: table-row-group;
  }

  .table-body td::before{
    display: none;
  }

  .table-body i {
    padding: 10px;
    font-size: 1.3em;
  }
  
  .menu-bar-desk{
    display: block;
    position: fixed;
    left: 0;
    top: 48px;
    bottom: 0;
    width: 200px;
    background-color: #b9228e;
  }

  #liUsuario ul{
    background-color: #701854;
    color: white;
    max-height: 0px;
    overflow: hidden;
    transition: .5s max-height ease-out;
  }

  #liUsuario ul li a:hover{
    background-color: #310a24;
  }

  #liUsuario:hover ul{
    max-height: 150px;
  }

  .menu-bar-desk li:nth-of-type(odd):not(#liUsuario li){
    background-color: #B22089;
  }
  
  .menu-bar-desk li:nth-of-type(even):not(#liUsuario li){
    background-color: #A01C73;
  }
  
  .menu-bar-desk li:hover:not(#liUsuario div){
    background-color: #4b0f37;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  }

  .menu-bar-desk li a, #liUsuario div{
    /* display: block */
    display: flex;
    align-items: center;
    padding: 1.2rem;
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    font-size: 0.75rem;
    cursor: pointer;
  }

  .menu-bar-desk li a i, #liUsuario div i{
    font-size: 1rem;
    margin-right: 10px;
    width: 20px;
    height: 18px;
    text-align: center;
  }

  /* form-admin */

  .h1-admin{
    font-size: 1.75rem;
  }

  /* .form-admin > label, input{
    font-size: 1rem;
  } */

  /* margem para button em Horários de Acesso */
  .m-20{
    margin-top: 20px!important;
  }
  
  /* container-dia & container-horario*/
  .container-dia, .container-horario{
    display: flex;
    justify-content: space-between;
  }

  .container-dia div, .container-horario div{
    width: 48%;
  }

  /* Remover estilos nativos */

  /* .container-dia select, .container-check input, .container-horario input{
    -webkit-appearance: auto;
  } */

  /* ws */
  .tr-ws{
    animation-name: animarTr;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-iteration-count: 1; 
    animation-direction: normal;

    /* animation: animar 2s ease-in .5s infinite alternate both running; */
  }

  @keyframes animarTr{
    0%{
        transform: translateY(40px);
    }

    100%{
        transform: translateY(0px);
    }
  }
}