<%- include('./includes/homeHead') %>
<div class="section-1 abertura">
  <h1 class="section-1-titulo">Abertura Remota</h1>
  <div id="div-btnAbertura" class="abertura">
    <small>Clique no botão abaixo para abrir o portão</small>
    <form action="/abertura" method="POST">
      <input type="hidden" name="_csrf" value="<%- csrfToken %>">
      <button type="submit"><div><img src="/assets/img/lock.svg" alt=""></div></button>
    </form>
  </div>
</div>
<%- include('./includes/homeFoot') %>

  