<%- include('./includes/homeHead') %>
<div class="section-1 abertura">
  <h1 class="section-1-titulo">Abertura Remota</h1>
  <div id="div-btnAbertura" class="abertura">
    <sup>Clique no botão abaixo para abrir o portão</sup>
    <a href="#"><button><div><img src="/assets/img/lock.svg" alt=""></div></button></a>
  </div>
</div>

<%- include('./includes/homeFoot') %>

  