<%- include('./includes/homeHead') %>
    <div class="section-1">
      <h1 class="section-1-titulo h1-admin">Cadastrar Admin</h1>
      <a class="section-1-link a-return" href="/admins">
        <button>Voltar</button>
      </a>
    </div>
    <form class="form-admin" action="/admins/register" method="POST">
      <input type="hidden" name="_csrf" value="<%- csrfToken %>">
      <label for="nome">Nome</label>
      <input type="text" name="nome" id="nome" placeholder="Digite o nome do administrador">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" placeholder="Digite um email válido">
      <label for="senha">Senha</label>
      <input type="password" name="senha" id="senha" placeholder="Digite uma senha">
      <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
    <%- include('./includes/alertMessages') %>
    <script src="/assets/js/formScript.js"></script>
    <script>
      let validaForm = new formValidar({
        form: '.form-admin',
        inputs:{
          nome: '#nome',
          email: '#email',
          senha: '#senha'
        }
      })
    </script>
<%- include('./includes/homeFoot') %>

