<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/styleLogin.css">
  <title>Login</title>
</head>
<body>
  <div class="lateral"></div>
  <div class="conteudo">
    <h1>Faça seu login na plataforma</h1>
    <div class="div-fieldset">
      <fieldset>
        <form action="/login" method="POST">
          <input type="hidden" name="_csrf" value="<%- csrfToken %>">
          <label for="usuario">Email</label>
          <input type="text" id="usuario" name="email" placeholder="Digite seu email de usuário">
          <label for="senha">Senha</label>
          <input type="password" id="senha" name="senha" placeholder="Digite sua senha">
          <button type="submit">Entrar</button>
        </form>
        <%- include('./includes/alertMessages') %>
      </fieldset>
    </div>
  </div>

  <script src="/assets/js/scriptLogin.js"></script>
</body>
</html>